---
layout : page
title  : Tags
---

<div class="tag-cloud">
   {% for tag in site.tags %}
      <a href="#{{ tag[0] }}" id="tag_{{ tag[0] }}" class="__tag badge" style="margin: 5px; color: black;">{{ tag[0] }}</a>
      <ul id="list_tag_{{ tag[0] }}" style="display:none;">
         {% for post in tag[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; <span class="badge">{{ post.date | date_to_string}}</span></li>
         {% endfor %}
      </ul>
   {% endfor %}
</div>

<div id ="posts-tags" class="post-list" style="margin: 50px;"></div>

<script type="text/javascript">
    var tagClick = function(tag) {
        var list = $('.post-list');
       list.empty();
       list.append('<hr/>');
       list.append('<span class="post-date">');
       list.append($(tag).html().toUpperCase() + '<br/>');
       list.append('</span">');

       $('#list_' + $(tag).attr('id')).each(function() {
          $('.post-list').append('<ul>' + $(this).html() + '</ul>');
       });
    }

   $(function() {
      var minFont = 15.0,
          maxFont = 40.0,
          diffFont = maxFont - minFont,
          size = 0;

      {% assign max = 1.0 %}
      {% for tag in site.tags %}
         {% if tag[1].size > max %}
            {% assign max = tag[1].size %}
         {% endif %}
      {% endfor %}

      {% for tag in site.tags %}
         size = (Math.log({{ tag[1].size }}) / Math.log({{ max }})) * diffFont + minFont;
         var badge = $("#tag_{{ tag[0] }}");
         badge.css("font-size", size + "px");
         badge.css("line-height", (size + 1) + "px");
      {% endfor %}

      $('.tag-cloud a[class^="__tag"]').click(function() {
            tagClick($(this));
      });
   });

   var tag = window.location.hash.replace(/^#/, "");
   if (tag) {
        tagClick($('#tag_' + tag));
   }
</script>
