<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" style="font-style: italic;">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div style="display: inline-block; text-align: left">
        <a target="_blank" title="Google+" href="https://plus.google.com/+MehmetDogan0"><img style="display: inline; margin: 0px 5px;" src="{{ site.baseurl }}public/google.png" /></a>
        <a target="_blank" title="Github" href="https://github.com/mdogan"><img style="display: inline; margin: 5px 5px;" src="{{ site.baseurl }}public/github.png" /></a>
        <a target="_blank" title="Twitter" href="https://twitter.com/mmdogan"><img style="display: inline; margin: 5px 5px;" src="{{ site.baseurl }}public/twitter.png" /></a>
        <a target="_blank" title="Linkedin" href="http://tr.linkedin.com/in/mehmetdogan/"><img style="display: inline; margin: 0px 5px;" src="{{ site.baseurl }}public/linkedin.png" /></a>
        <a target="_blank" title="RSS" href="{{ site.baseurl }}atom.xml"><img style="display: inline; margin: 0px 5px;" src="{{ site.baseurl }}public/rss.png" /></a>
    </div>

    <p><small>&copy; {{ site.time | date: '%Y' }} {{ site.author.name}}<br/>All rights reserved.</small></p>
  </div>
</div>
